<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en tiempo real</title> 
    <h1>PRODUCTOS EN TIEMPO REAL</h1>

    <ul id="listaProductos">




    </ul>

</head>
<body>
    
</body>
</html>

<script src="socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>